@{
    ViewBag.Title = "HuyenTrang";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<MARQUEE DIRECTION=RIGHT SCROLLDELAY=2 SCROLLAMOUNT=1>
    <font face="arial" size="1" color=#ff33ff>
        wellcome to you!!!
    </font>
</MARQUEE>
<table>
    <caption>Tạo bảng</caption>
    <tr>
        <td>Cell 1</td>
        <td>Cell 2</td>
        <td>Cell 3</td>
        <td>New column</td>
    </tr>
    <tr>
        <td>Cell 4</td>
        <td>Cell 5</td>
        <td>Cell 6</td>
    </tr>
    <td>
        New Row
    </td>

</table>
<input type="button" value="Back" name="back" onclick="window.history.go(-1);“>
<select name="city">
    <option value="" selected>..Select City ..</option>
    <option value="HCM">Ho Chi Minh</option>
    <option value="HAN">Ha Noi</option>
    <option value="HUE">Hue</option>
</select>

<p class="trang">Use this area to provide additional information.</p>
